# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn

# production
/.next
/out
next-env.d.ts

# next-pwa generated (public/dest)
/public/sw.js
/public/swe-worker-*.js
/public/workbox-*.js
/public/worker-*.js
/public/fallback-*.js

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
meta.json
tsconfig.tsbuildinfo

#documentation
.cache/
debug.json
.eslintcache